<% user = User.find_by_email(@user_email) %>
<% approver = User.find_by_email(@customer_manager_email)%>

<p> Hi <%=user.first_name %></p>
<p><%= approver.first_name%> <%= approver.last_name%> has approved your shift change request from <%= @request_start_date.strftime('%Y-%m-%d')%> to <%= @request_end_date.strftime('%Y-%m-%d')%></p>
