<h1>Forgot your password?</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, :input_html=> { class: 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send Instructions" %>
  </div>
<% end %>
<%= render partial: 'static_pages/login_form'%>

<%#= render "devise/shared/links" %>
